body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
}

h2 {
  color: #333;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}


li:last-child {
  border-bottom: none;
}

.profile-ul {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

.profile-ul li {
  margin-bottom: 10px;
  background: #fff;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.profile-ul li:last-child {
  border-bottom: none;
}
